.form-user {
	i {
		margin-left: 10px;
		color: #5FC36D;
     	text-decoration: none;	
	}
	a {
		color: #5f6d7b;
	}
	a:link, a:visited, a:active {
		color: #db3a1b;
		text-decoration: none;
	}
	a:hover {
		color: #db3a1b;
		text-decoration: underline;
	}
}